<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/stylesheets/style.css">
  </head>
  <body>
    
    <div class="itemsList"></div>

    <form action="" method="POST" name="OrderInfo">
    
    <div class="result">
      <table>
        <thead class="tablesHead">
          <tr>
            <th>Photo</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody class="tablesBody"></tbody>
      </table>

      <div class="total">Total:  <p class="totalResult"></p> $ </div>
    </div>   
    

    <div class="deliveryInfo">
      <input type="text" name="clientName" placeholder="your name">
      <input type="text" name="address" placeholder="delivery address">
      <input type="text" name="phone" placeholder="phone number">
      <button type="submit" class="btn-send">Make Order</button>
    </div>

    

  </form>

    <script src="./javascripts/mainClient.js"></script>
  </body>
</html>
