<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script> -->
    <link rel="stylesheet" href="http://localhost:8000/stylesheets/style.css">
  </head>
  <body>
    
    <div class="item">
      <img src="http://localhost:8000/images/lettuce-salad.jpg" alt="pic">
      <h2 class="title">salad</h2>
      <p>Price:
        <span class="price">5</span>$
      </p>
      <button type="button" class="btn-buy" data-id="1" data-title="salad" data-price="5">Add to bag</button>
    </div>

    <div class="item">
      <img src="http://localhost:8000/images/tomatoes.jpg" alt="pic">
      <h2>tomatoes</h2>
      <p>Price:
        <span class="price">8</span>$
      </p>
      <button type="button" class="btn-buy" data-id="2" data-title="tomatoes" data-price="8">Add to bag</button>
    </div>
    
    <div class="item">
      <img src="http://localhost:8000/images/meat.jpg" alt="pic">
      <h2>meat</h2>
      <p>Price:
        <span class="price">26</span>$
      </p>
      <button type="button" class="btn-buy" data-id="3" data-title="meat" data-price="26">Add to bag</button>
    </div> 
    
    <button class="checkout">checkout</button>
    <div class="result"></div>    

    <script src="./javascripts/mainClient.js"></script>
  </body>
</html>
